option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    JWT_SECRET: "usfpbR!4g[nyDt8Uh/LFaw"
    DB_HOST: "awseb-e-fpwqnnz2kh-stack-awsebrdsdatabase-qfirzesqqjgj.c7w6ck666c4q.us-east-1.rds.amazonaws.com"
    DB_USER: "workwisepro"
    DB_PASSWORD: "Valley123"
    DB_NAME: "hrms_db"
